{% extends 'mainapp/base.html' %}
{% load static %}
{% block 'content' %}
	<div class="container">
		<div class="hero-white">
			<div class="header clearfix">
				<a href="/" class="logo"></a>
				<ul class="menu">

					{% include 'mainapp/include/include_menu.html' %}

				</ul>

				<a href="#" class="search"></a>
                <a href="#" class="basket"></a>
			</div>
		</div>

		<div class="details">
			<div class="links clearfix">
				<ul class="links-menu">
					{% for category in products_category%}

					<li><a href="{% url 'products:category' category.id %}" {%if selected_category_id == category.id %} class="active"{%endif%}>{{ category }}</a></li>

					{% endfor %}
				</ul>
			</div>
			<div class="details-products">
				{%if products_of_category%}
                {%for product in products_of_category%}
				<div class="description">
                    <img src="/media/{{ product.image }}" alt="{{ product.short_desc }}" style="width:470px;height:470px;">
					<h3 class="big-bold">{{product.short_description}}</h3>
					<p class="price">{{product.price}}<span>руб</span></p>
					<a href="#" class="red-button">
						заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
					</a>
					<div class="description-text">
						<p>{{product.description}}</p>
					</div>
				</div>
			</div>
            {%endfor%}
			{%else%}
			<h1>Sorry we don't have nothing here!</h1>
			<img src="{% static 'img/sad.jpg' %}" alt="picture" style="width:100px;height:100px;">
			{%endif%}
		</div>
{% endblock %}